<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" [routerLink]="['/tabs/home']">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Alertas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alarmas" [routerLink]="['/tabs/alarmas']">
      <ion-icon name="alarm-outline"></ion-icon>
      <ion-label>Alarmas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="luces" [routerLink]="['/tabs/luces']">
      <ion-icon name="bulb-outline"></ion-icon>
      <ion-label>Luces</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
