<ion-header>
  <ion-toolbar>
    <ion-title>Estado de Alertas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  @if (alertasActivas().gas) {
  <ion-card [class.alerta]="gasDetected()" [class.normal]="!gasDetected()">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="flame-outline" style="color: #e25822; margin-right: 8px;"></ion-icon>
        Alerta de Gas
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      @if(!gasDetected()){
        <div class="alert-ok">
          <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
          Todo está bien, el nivel de gas es seguro.
        </div>
      }
      @if(gasDetected()){
        <div class="alert-warning">
          <ion-icon name="warning-outline" color="danger"></ion-icon>
          ¡Nivel de gas detectado alto!
        </div>
      }
    </ion-card-content>
  </ion-card>
}

  @if (alertasActivas().movimiento) {
  <ion-card [class.alerta]="motionDetected()" [class.normal]="!motionDetected()">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="walk-outline" style="color: #3dc2ff; margin-right: 8px;"></ion-icon>
        Alerta de Movimiento
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      @if (!motionDetected()) {
        <div class="alert-ok">
          <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
          Todo está bien, no se detecta movimiento.
        </div>
      }
      @if (motionDetected()) {
        <div class="alert-warning">
          <ion-icon name="warning-outline" color="danger"></ion-icon>
          ¡Movimiento detectado en la zona monitoreada!
        </div>
      }
    </ion-card-content>
  </ion-card>
  }

  @if (alertasActivas().temperatura) {
  <ion-card [class.alerta]="highTemperature()" [class.normal]="!highTemperature()">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="thermometer-outline" style="color: #ff4d4d; margin-right: 8px;"></ion-icon>
        Alerta de Temperatura Alta
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      @if (!highTemperature()) {
        <div class="alert-ok">
          <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
          Todo está bien, la temperatura es normal: {{ temperaturaValue }} °C
        </div>
      }
      @if (highTemperature()) {
        <div class="alert-warning">
          <ion-icon name="flame-outline" color="danger"></ion-icon>
          ¡Temperatura alta detectada: {{ temperaturaValue }} °C!
        </div>
      }
    </ion-card-content>
  </ion-card>
  }

  @if (alertasActivas().humedad ) {
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="water-outline" style="color: #4bb4e6; margin-right: 8px;"></ion-icon>
        Nivel de humedad
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="alert-info">
        <ion-icon name="water-outline" color="primary"></ion-icon>
        Humedad: {{ humidity }}
      </div>
    </ion-card-content>
  </ion-card>
}

</ion-content>
