ion-button {
  margin-top: 12px;
}

ion-list {
  margin-top: 32px;
}

ion-item {
  --padding-start: 12px;
  --padding-end: 12px;
  font-size: 1.1rem;
}

ion-card-title {
  font-weight: 600;
  font-size: 1.3rem;
}

ion-label {
  font-weight: 500;
}

.large-icon {
  font-size: 28px;
}
